.blue-overlay {
    position:fixed;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    top:0px; 
    right:0px; 
    left:0px; 
    height: 100vh; 
    width: 100%; 
    background-color:rgb(26, 35, 75);
}

/* styles for pokemon-Details */

.detail_pokemon { 
    position:fixed; 
    top: 50%; 
    left: 50%;
    transform:translate(-50%, -50%);
    height: 800px;
    width: 1000px;
    border-radius: 5%;
    display:flex; 
    align-items: center; 
    flex-direction: column;
    background-color: cornflowerblue;
}

.header-detail_pokemon {
    display:flex; 
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    padding-right: 40px; 
    width:960px; 
    border-radius: 30px 30px 0 0;
    gap: 340px;   
}

.close {
    height: 50px; 
    width:auto; 
    cursor:pointer; 
}

.detail_pokemon h2 {
    font-size: 30px; 
    color:rgb(26, 35, 75);
}

.detail_img {
    height:180px;
    width:auto;  
}

.type_detail {
    height: 60px; 
    width: auto; 
    border-radius: 50%; 
}


.d_flex {
    display:flex; 
    justify-content: center;
    align-items: center;
    gap: 30px; 
}

.folder {
    font-size: 24px; 
    color:rgb(26, 35, 75);
    background-color: cornflowerblue;
    border: 1px solid rgb(26, 35, 75); 
    width: 130px; 
    font-weight: 500;   
}

.folder:hover {
    background-color: rgb(54, 116, 230);
}

.btn-group {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    flex: 1 1 auto;
    cursor: pointer;
}

.main_details {
    background-color: rgb(26, 35, 75); 
    height:418px; 
    width: 970px;
    border-radius: 0 0 4% 4%;
    display:flex; 
    flex-direction: column;
    position: relative; 
    top: 185px; 
}

.main_list {
    margin-top: 60px; 
    margin-left: 40px; 
    margin-right: 40px;
    margin-bottom: 0;
    width: auto; 
    display: flex;
    flex-direction: column;
    padding-left: 0;
    border-radius: .25rem;
}

.main_row {
    background-color: cornflowerblue;
    font-size: 24px; 
    font-weight: 500;
    text-align: left; 
    padding-left: 30px;
    position: relative;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, .125);
}

.img_dream {
    padding-top: 20px; 
    height:160px;
    width:auto; 
}

.stat_details {
    background-color: rgb(26, 35, 75); 
    height:418px; 
    width: 970px;
    border-radius: 0 0 4% 4%;
    display:flex; 
    flex-direction: column;
    position: relative; 
    top: 185px; 
}

.stat_list {
    margin-top: 15px; 
    margin-left: 40px; 
    margin-right: 40px;
    width: auto; 
    border-radius: .25rem;
    margin-bottom: 0;
    padding-left: 0;
    flex-direction: column;
    display: flex; 
}

.stat_row {
    background-color: cornflowerblue;
    font-size: 20px; 
    font-weight: 500;
    text-align: left; 
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, .125);
    text-decoration: none;
    color: #212529;
    padding: .5rem 1rem;
    display: block;
    position: relative;
}

.stat_progress {
    font-size: 0.9rem; 
    background-color: rgb(26, 35, 75);
    font-weight: 800; 
    display: flex;
    height: 1rem;
    overflow: hidden;
    border-radius: .25rem;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(205 158 95);
    transition: width .6s ease;
    color:rgb(26, 35, 75);
}

.evo_details {
    background-color: rgb(26, 35, 75); 
    height:418px; 
    width: 970px;
    border-radius: 0 0 4% 4%;
    display:flex; 
    justify-content:center; 
    align-items:center; 
    gap: 30px; 
    position: relative; 
    top: 185px; 
}

.evo_img {
    height:180px;
    width:auto;
}

.evo_arrow {
    height: 60px; 
    width:auto; 
}

.arrow {
    height: 40px; 
    width:auto; 
}

.name_style {
    color: cornflowerblue; 
    font-size: 40px; 
    margin:0; 
}

.folder_bar {
    display:flex; 
    align-items: center;
    justify-content: center;
    gap:200px;
    padding-top: 9px; 
}

.current_folder {
    background-color: rgb(145, 167, 209);
}

@media (max-width: 1140px) {

.detail_pokemon { 
    width: 700px;
}

.detail_pokemon header {
    width: 662px; 
    gap: 190px; 
}

.main_details {
    width: 679px;
}

.folder_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 9px;
    cursor:pointer; 
}

.stat_details {
    width: 679px;
    align-items: center;
}

.stat_list {
    margin-top: 15px; 
    margin-left: 0px; 
    margin-right: 0px;
    width:  630px; 
    border-radius: .25rem;
    margin-bottom: 0;
    padding-left: 0;
    flex-direction: column;
    display: flex; 
}

.evo_details {
    width: 679px;
    gap: 10px; 
}

.evo_img {
    height:160px;
    width:auto;
}

.evo_arrow {
    height: 50px; 
    width:auto; 
}
}

@media (max-width: 770px) {

.detail_pokemon { 
    width: 500px;
    }

.detail_pokemon header {
    width: 464px; 
    border-radius: 24px 19px 0 0;
    gap:90px; 
}
.main_details {
    width: 487px;
    
}

.main_list {
    margin-top: 30px;
}

.folder_bar {
    gap: 40px;
}

.folder {
    font-size: 20px;
    width: 100px;
}

.stat_details {
    width: 487px;
}

.stat_list {
    width:  460px; 
}

.evo_details {
    width: 487px;
    flex-direction: column-reverse; 
    gap:10px;
}

.evo_img {
    height:100px;
    width:auto;
}

.evo_arrow {
    height: 30px; 
    width:auto; 
    transform: rotate(-90deg);
    transform-origin: center;
}
}

@media (max-width: 570px) {

.detail_img {
    height: 180px;
    width: auto;

}

.detail_pokemon { 
    width: 350px;
    height:750px; 
}

.detail_pokemon header {
    width: 343px; 
    border-radius: 16px 16px 0 0;
    gap:45px; 
    padding-right:15px; 
}

.close {
    height: 45px;
    width: auto;
}

.d_flex {
    gap: 15px; 
}

.pad_btm {
    padding-bottom: 20px;
}

.folder_bar {
    gap: 15px;
}

.folder {
    font-size: 16px;
    width: 70px;
}

.main_details {
    width: 330px;
    height: 380px;
    top:176px; 
}

.main_list {
    margin-top: 25px;
}

.main_row {
font-size: 20px;
}

.img_dream {
    padding-top: 20px;
    height: 130px;
    width: auto;
}

.stat_details {
    width: 330px;
    height: 380px;
    top:176px; 
}

.stat_list {
    width:  300px; 
    margin-top: 10px;
}

.stat_row {
    font-size:17px; 
}

.evo_details {
    width: 330px;
    height: 380px;
    top:176px; 
}

.evo_img {
    height:90px;
    width:auto;
}

.evo_arrow {
    height: 30px; 
    width:auto; 
    transform: rotate(-90deg);
    transform-origin: center;
}
}


@media (max-width: 440px) {

.detail_pokemon {
    width: 270px;
    height: 570px;
    top:52%; 
}

.detail_pokemon header {
    width: 257px; 
    border-radius: 12px 12px 0 0;
    height: 70px; 
    gap: 28px; 
}

h2.poke_names {
    padding-top:0px; 
    font-size:24px; 
}

.close {
    height:37px; 
    width:auto; 
}

.main_details {
    width: 260px;
    height:290px; 
    top:158px; 
}

.main_row {
    font-size: 16px;
    padding: 0.3rem 1rem;
}

.main_list {
    margin-left: 20px; 
    margin-right: 20px; 
    font-size: 20px; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.stat_details {
    width: 260px;
    height:290px; 
    top:158px; 
}

.stat_list {
    width: 220px;
}

.stat_row {
    padding: .2rem 1rem;
    font-size:13px; 
    font-weight: 800;
}

.evo_details {
    width: 260px;
    height:290px; 
    top:158px; 
    gap:5px; 
   
}

.evo_arrow {
    height: 20px;
}

.evo_img {
    height: 70px; 
    width: auto; 
}

.name_style {
    font-size: 30px;
}


.d_flex {
    gap: 15px;
}

.img_dream {
    padding-top: 20px;
    height: 90px;
    width: auto;
}

.folder_bar {
    gap: 5px;
}

.folder {
    font-size: 16px;
    width: 60px;
}

.arrow {
    height: 30px;
    width: auto;
}

.btn {
    padding: .375rem 0rem;
}

.type_detail{
    height: 35px;
    width: auto;
    border-radius: 50%;
}

.detail_img {
    height: 130px;
    width: auto;
}
}