@font-face { 
    font-family: "raleway";
    src: url('./fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

.noscroll {
    overflow: hidden;
}

.d_none {
    display:none !important; 
}

.background-dark {
    background-color: rgb(26, 35, 75);
}

.w100 {
    width:100%   ; 
}

.pad_btm {
    padding-bottom: 30px; 
}

.header {
    display:flex; 
    align-items: center;
    justify-content: center;
    height: 100px;
    padding-right: 200px; 
    padding-left: 200px;
    background-color: cornflowerblue;
    gap: 100px; 
}

.header h1 {
    font-size: 28px;
}

.img_header {
    height: 40px; 
    width: auto; 
}

.img_gotcha {
    height: 80px; 
    width: auto; 
}

.input p {
    margin-bottom:0px; 
}

.headline {
    display:flex; 
    justify-content: center;
    align-items: center;
    gap: 10px; 
    color:rgb(26, 35, 75);
}

.btn {
    cursor: pointer;
    color:white;
    border: 1px solid white;  
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-size: 16px;
    font-family: inherit;
}


.display_flex {
    display:flex; 
    justify-content:center; 
    flex-direction: column;
    align-items: center; 
}

.p_bm {
    padding-bottom: 100px; 
}

@media (max-width: 1370px) {

.header {
    gap: 80px; 
    padding-left: 100px;
    padding-right: 100px;
}

.header h1 {
    font-size: 24px;
}

}


@media (max-width: 1100px) {
.header h1 {
    font-size: 22px;
    text-align:center; 
}

.img_header {
    height: 30px;
    width: auto;
}
}

@media (max-width: 900px) {
.header {
    gap: 50px; 
    padding-left: 100px;
    padding-right: 100px;
}
}

@media (max-width: 600px) {
.header {
    gap: 30px; 
    padding-left: 50px;
    padding-right: 50px;
}

.img_gotcha {
    display:none; 
}
}

@media (max-width: 500px) {
.header h1 {
    font-size: 20px;
    text-align:center; 
    margin-bottom:10px; 
}

.img_header {
    height: 25px;
    width: auto;

}
.header {
    display:flex; 
    align-items: center;
    justify-content: center;
    flex-direction:column; 
    height: 150px;
    gap:3px; 
    padding-left: 20px;
    padding-right: 20px;
}
}




