body {
    background-color: rgb(26, 35, 75);
    box-sizing: border-box;
    margin:0; 
    font-family: "raleway";
    line-height: 1.5;
}

.input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.all_pokemons {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(26, 35, 75);
    font-family: "raleway";
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
}


.poke_view {
    display:flex; 
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: 100px; 
    gap: 100px; 
    margin-bottom: 50px; 
    margin-right: 50px; 
    margin-left:50px; 
}

.pokecards {
    height: 196px; 
    width: 155px; 
    border-radius: 5%;
    display:flex; 
    flex-direction: column;
    align-items: center;
    cursor:pointer; 
}

.pokecards:hover .img_size {
    transform: scale(1.2);
}

.pokecards:hover {
  transform: scale(1.05);
  filter: brightness(1.15);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.poke_names {
    font-size: 20px; 
    color: white; 
}

.img_size {
    height:130px;
    width:auto; 
    object-fit: cover;
    transition: transform 0.5s ease;
}

.type_img_size {
    height: 30px; 
    width: auto; 
    border-radius: 17%;
    padding-bottom: 0px; 
}

.poke_types {
    display:flex;
    justify-content:center; 
    gap: 5px; 
    background-color: black;
    height: 30px;
    width: 100%;  
    border-radius: 0 0 5% 5%;
}

h2.poke_names {
    padding-top: 0px; 
    color:rgb(3, 5, 16);
    font-weight: 800;
}

.loading {
    height: 400px; 
    width: auto; 
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform:translate(-50%, -50%);  
}

.userfeedback {
    color:white;
    border: 1px solid white;  
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    padding: 10px; 
    border-radius: .25rem;
    font-size: 16px;
    font-family: inherit;
    width: 260px; 
    margin-bottom: 20px; 
    text-align: center;
    font-size: 18px; 
}

.highlight {
 background-color:#3716f0 !important;
 
}

.user {
    position: absolute !important;
    top: 25px !important;
    width: 430px !important; 
}

@media (max-width: 440px) {

    .user {
    top: 65px !important;
    width: 250px !important; 
    font-size: 16px; 
}

    .userfeedback {
    width: 220px; 
}
}

@media (max-width: 440px) {
    .userfeedback {
    width: 220px; 
}
}


